/* Create a custom radio button */
.radiobuttonMale {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 64px;
  background-color: #3b395e;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobuttonMale {
  background-color: #2658fb;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobuttonMale {
  background-color: #3b395e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobuttonMale:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobuttonMale:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobuttonMale:after {
  top: 8px;
  left: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: white;
}
/* Create a custom radio button */
.radiobuttonFemale {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 64px;
  background-color: #3b395e;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobuttonFemale {
  background-color: #ff41ea;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobuttonFemale {
  background-color: #3b395e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobuttonFemale:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobuttonFemale:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobuttonFemale:after {
  top: 8px;
  left: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: white;
}