@font-face {
font-family: "Century Gothic";
src: url("fonts/CenturyGothic.ttf");
}
@font-face {
font-family: "Arial Black";
src: url("fonts/ariblk.ttf");
}
body {
  background-color: #3b395e;
  font-family:Century Gothic,Arial, sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  margin: 0 !important;
  padding: 0 !important;
}
div {
	border: 1px;
	text-align: left;	
}
textarea:focus, input:focus{
    outline: none;
}
.notification {
	position: fixed;
	top: 0;
	background-color: #59568f;
	border-radius: 4px;
	top: 10%;
	margin-left: 20px;
	cursor: pointer;
	font-size: 14px;
	padding: 2px;
	max-width: 300px;
}

.speciesCurrent {
	font-size: 17px;
	float: left;
	padding-left: 7px;
	width: 100%;
	transition: 1s;
	background-color: inherit;
}

.speciesCurrent:hover {
	background-color: #59568f;
}

.speciesContainer {
	border: 2px solid #9D9CAF;
    border-radius: 2px;
	float: left;
	width: 70%;
	margin-top: 4px;
	margin-left: 7px;
	transition: 1s;
	cursor:pointer;
	overflow: hidden;
}

.speciesSelectTriangle {
	float: left;
	width: 1%;
	margin-left: -25px;
}

.search {
	width: 10%;
	float: left;
	margin-top: 3px;
	margin-left: 13px;
	cursor:pointer;
}

.magnifyingGlassIcon {
	transition-duration: 0.5s;
}

.magnifyingGlassIcon:hover {
	background-color: #59568f;
}

.speciesCategorySelectorContainer {
	float: left;
}

.speciesSelector {
	float: left;
}

.speciesEntry {
	width: 50%;
	height: 26px;
	text-align: center;
	border: 1px solid #282640;
	padding-top: 8px;
	float: left;
	font-size: 16px;
	background-color: #3b395e;
	transition-duration: 0.5s;
}

.speciesEntry:hover {
	border: 1px solid #59568f;
	background-color: #59568f;
}

.speciesEntryLeft {
	width: 50%;
	height: 26px;
	text-align: center;
	border-bottom: 2px solid #282640;
	padding-top: 8px;
	float: left;
	font-size: 16px;
	background: linear-gradient(to right, #3b395e 0%, #3b395e 99%, #282640 99%, #282640 100%);
}

.speciesEntryRight {
	width: 50%;
	height: 26px;
	text-align: center;
	border-bottom: 2px solid #282640;
	padding-top: 8px;
	float: right;
	font-size: 16px;
	background: linear-gradient(to left, #3b395e 0%, #3b395e 99%, #282640 99%, #282640 100%);
}

.speciesEntryLeftLast {
	width: 50%;
	height: 26px;
	text-align: center;
	padding-top: 8px;
	float: left;
	font-size: 16px;
	background: linear-gradient(to right, #3b395e 0%, #3b395e 99%, #282640 99%, #282640 100%);
}

.speciesEntryRightLast {
	width: 50%;
	height: 26px;
	text-align: center;
	padding-top: 8px;
	float: right;
	font-size: 16px;
	background: linear-gradient(to left, #3b395e 0%, #3b395e 99%, #282640 99%, #282640 100%);
}

.speciesEntryLeft:hover,.speciesEntryLeftLast:hover {
	background: linear-gradient(to right, #59568f 0%, #59568f 99%, #282640 99%, #282640 100%);
}

.speciesEntryRight:hover, .speciesEntryRightLast:hover {
	background: linear-gradient(to left, #59568f 0%, #59568f 99%, #282640 99%, #282640 100%);
}

.speciesEntryLast {
	width: 100%;
	height: 26px;
	text-align: center;
	padding-top: 8px;
	float: right;
	font-size: 16px;
	background-color: #3b395e;
}

.speciesEntryLast:hover {
	background-color: #59568f;
}

.speciesEntryText {
	text-align: inherit;
}

.speciesCategoryText{
	text-align: inherit;
}

.speciesCategory {
	width: 100%;
	height: 26px;
	text-align: center;
	border-bottom: 2px solid #282640;
	padding-top: 5px;
	float: left;
	transition: 0.5s;
}

.speciesCategory:active {
	transition: 0.1s !important;
	background-color: #69669A !important;
}

.speciesCategoryName {
	width: 78%;
	height: 26px;
	text-align: center;
	border-bottom: 2px solid #282640;
	padding-top: 5px;
	float: left;
	transition: 0.5s;
	background-color: #282640;
	cursor: auto;
}

.speciesCategoryButton {
	width: 11%;
	height: 31px;
	text-align: center;
	border-bottom: 2px solid #282640;
	float: left;
	transition: 0.5s;
	cursor: pointer;
	font-size: 23px;
}

.speciesCategoryButtonEnd {
	width: 11%;
	height: 31px;
	text-align: center;
	border-bottom: 2px solid #282640;
	float: left;
	transition: 0.5s;
	cursor: pointer;
	font-size: 23px;
	background-color: #282640;
	cursor: not-allowed;
}

.speciesCategoryLast {
	width: 100%;
	height: 26px;
	text-align: center;
	padding-top: 5px;
	float: left;
	transition: 0.5s;
}

.speciesCategoryLast:active {
	transition: 0.1s !important;
	background-color: #69669A !important;
}

.speciesCategory:hover, .speciesCategoryLast:hover, .speciesCategoryButton:hover {
	background-color: #59568f;
}

.categoryText {
	text-align: inherit;
}

.appWidthContainer {
	width: 354px;
	margin: 0 auto;	
	border: 2px solid #000000;
	background-color: #3b395e;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.desktop-mode-container {
	width: 354px;
}

.customSliderTextField {
	background: #59568f;
	border: 1px solid #282640; 
	color: #fff;
	width: 19.5%;
	padding: 4px;
	font-size: 12px;
	float: left;
	margin-left: 4px;
	transition-duration: 0.75s;
}

.statusBarContainer {
	height: 18px;
	background-color: #424242;
	border-bottom: 2px solid #000000;
}

.coverageContainer {
	width: 20%;
	float: left;
}

.currentTime {
	width: 60%;
	float: left;
	text-align:center;
	font-size:15px;
	font-family: Arial Black;
	line-height: 15px;
}

.welcomeUserMessage {
	width: 60%;
	float: left;
	text-align:center;
	font-weight: bold;
	font-size:15px;
}

.chargeBattery {
	width: 25%;
	float: left;
	font-size: 11px;
	text-align:right;
	padding-top:1.5px;
}

.batteryContainer {
	width: 11%;
	float: right;
	text-align:right;
	margin-right: 15px;
	padding-top: 2px;
}

.secondSliderHandleContainer {
	width: 510px;
	z-index: 1;
	position: absolute;
	height: 1px;
}

.secondSliderHandle {
	background-color: #FF4550;
	border:1px solid #3b395e;
	border-radius:1px;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 11px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;	
	left: 0;
	right: 84.5%;	
	top: 344px;
	opacity: 1;
}

.notification-container {
	z-index: 1;
	position: absolute;
	top: 70px;
	width: 354px;
}
.notification-content {
	background-color: #E8E8EA;
	color: #000000;	
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
	opacity: 0.9;
	padding: 8px;
	float: left;
	box-sizing: border-box;
	transition-duration: 0.5s;
}

.notification-content:hover {
	opacity: 1;
}

.error621 {
	text-align: center;
	border-bottom: 1px solid #fff;	
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282640; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8280b3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #59568f; 
}

.switcherLogo {
	text-align: center;
	height: 42.5px;
	margin-top: 3px;
}

.container2 {
	text-align: center;
	height: 60px;
	border-bottom: 2px solid #807F97;
}

.processingText {
	height: 25px;
	font-size: 22px;
	text-align: center;
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.lockSettingsPasswordAndButtonContainer {
	float: left;
	width: 37.5%;
	margin-left: 5px;
}

.lockSettingsImgClosed {
	float: left;
	width: 7.5%;	
	margin-left: 5px;
	margin-top: 20px;
	cursor: pointer;
}

.lockSettingsImgOpen {
	float: left;
	width: 7.5%;	
	margin-left: 5px;
	margin-top: 20px;
	cursor: pointer;
}

.lockSettings {
	float: left;
	width: 30%;	
	margin-top: 35px;
	font-size:17px;
	cursor: pointer;
	user-select: none;
}

.enterPassword {
	text-align: center;
	margin-top: 5px;
	overflow: hidden;
	transition-duration: 0.75s;
}

.processingContainer {
	float: left;
	width: 23.5%;
	text-align: center;	
}

.logOut {
	float: right;
	width: 33%;
	text-align: right;	
	margin-top: 35px;
	font-size:17px;
	cursor: not-allowed;
	user-select: none;
}

.adminPerms {
	color: #ff1b1f;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.speciesChoice {
	width: 75%;
	float: left;
	padding-top:4px;
	padding-left:9px;
}

.search {
	width: 10%;
	float: left;
	margin-top: 2.5px;
	
}

.speciesText {
	width: 90%;
	padding-left: 36px;
	padding-top:2px;
}

.speciesTextSmall {
	width: 90%;
	font-size: 12px;
	padding-left: 36px;
	padding-top:2px;
}

.selectMenuContainer {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

.selectMenuContainer2 {
	width: 100%;
	height: 30px;
	float: left;
}

.containerRBFemaleAndOther {
	width: 30%;
	float:left;
	margin-top:11px;
}

.containerRBMale {
	width: 40%;
	float:left;
	margin-top:11px;
	margin-left:7px;
}

/* body select.select_box */ 
body select { 
    display: block;    
    width: 95%; 
    height: 24px;
    border: 2px solid #9D9CAF;
    border-radius: 2px;
    background: url("../images/speciesSelectTriangle.png") right center no-repeat;
    background-color: #3b395e; 
    color: #ffffff; 
    font-family: "Century Gothic";
	font-size: 17px;
    line-height: 15px !important; 
    appearance: none; 
    /* this is must */ -webkit-appearance: none; 
    -moz-appearance: none; 
} 
/* body select.select_box option */ 
body select option { 
    padding: 0 4px; 
} 
/* for IE and Edge */ 
select::-ms-expand { 
    display: none; 
} 
select:disabled::-ms-expand { 
    background: #f60; 
}

.menu {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	height: 60px;
}
.menuSmall {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	height: 45px;
}
.menuBig {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	height: 340px;
}
.menuBig2 {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	height: 220px;
}
.menuSlider {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	max-height: 60px;
	padding-bottom: 15px;
	transition-duration: 0.5s;	
	overflow: hidden;	
}
.menuFirst {	
	border-bottom: 2px solid #807F97;	
	text-align: center;
	transition: 1s;
	overflow: hidden;
	width: 100%;
}
.menuInanimateObjects {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	height: 62px;
	transition: 1s;
	overflow: hidden;
	width: 100%;
}
.menuSliderFertility {
	border-bottom: 2px solid #807F97;	
	text-align: center;
	max-height: 98px;
	transition-duration: 0.5s;	
	overflow: hidden;	
}
.menu-CharViz-NextGen {
	border-bottom: 2px solid #807F97;
	text-align: center;
	overflow: hidden;
}
.charViz-NextGen-display-container {
	height: 531px; 
	/*
	512x768  ->  531px
	640x960  ->  531px
	768x1152 ->  531px
	
	704x1088 ->  547px
	
	640x832  ->  460px
	832x1088 ->  463px
	
	512x704  ->  487px
	640x896  ->  496px
	704x1024 ->  515px
	768x1088 ->  502px
	*/
	margin: auto;
	background-color: #282640;
	transition-duration: 0.5s;
	position: relative;
	overflow: hidden;
}
.charViz-NextGen-display {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100% !important;
}
.charViz-NextGen-button-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70px;
}
.button-CharViz-NextGen {
	float: left;
	width: 40px;
	height: 40px;
	background-color: rgba(89, 86, 143, 0.6);
	border-radius: 12px;
	text-align: center;
	padding: 8px;
	transition-duration: 0.35s;
	cursor: pointer;
	user-select: none;
	font-size: 11px;
	margin: 7px;
}
.button-CharViz-NextGen:hover {
	background-color: #928fbc;
}
.button-CharViz-NextGen:active {
	background-color: #c1bfd9;
}
.button-icon {
	background-color: rgba(89, 86, 143, 0.6);
	background-image: url("../images/gear-icon.png");
	background-size: 100%;
	width: 15px;
	height: 15px;
	opacity: 0.6;
}
/*.button-icon:hover {
	background-color: transparent;
}
.button-icon:active {
	background-color: transparent;
}*/
.smol-button-CharViz-NextGen {
	float: left;
	width: 10px;
	height: 10px;
	background-color: rgba(89, 86, 143, 0.6);
	border-radius: 4px;
	text-align: center;
	padding: 4px;
	transition-duration: 0.35s;
	cursor: pointer;
	user-select: none;
	font-size: 11px;
	margin: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.smol-button-CharViz-NextGen:hover {
	background-color: #928fbc !important;
}
.smol-button-CharViz-NextGen:active {
	background-color: #c1bfd9 !important;
}
.rect-button {
	width: 40px;
	margin: 7px;
	padding: 8px;
}
.rect-button-select {
	width: 80%;
	background-color: rgba(89, 86, 143, 0.75);
	padding: 6px;
	margin: 0 auto;
	font-size: 12px;
	height: 14px;
	float: none;
	margin-top: 6px;
}
.charViz-NextGen-menu {
	margin: 0 auto;
	position: inherit;
	width: 60%;
	overflow-y: auto;
	height: 100%;
}
.charViz-NextGen-menu-info {
	padding: 8px;
	font-size: 12px;
	background-color: rgba(40, 38, 64, 0.6);
	margin: 5px;
	margin-bottom: 0;
	border-radius: 5%;
	padding-top: 4px;
	padding-bottom: 4px;
}
.menuCharViz {
	border-bottom: 2px solid #807F97;
	text-align: center;
	overflow: hidden;
}

.charVizDisplayInanimateTF {
	top: -20px !important;
	transform: scale(0.96);
}

.charVizDisplayContainer {
	height: 440px;
	margin: auto;
	background-color: #282640;
	transition-duration: 0.5s;
	position: relative;
	overflow: hidden;
}

.charVizDisplay {
	position: absolute;
	top: -30px;
	width: 354px;
	height: 472px;
	background-size: 100% 100% !important;
	background-position: 60% 60% !important;
	mask-size: 354px 472px !important;
	-webkit-mask-size: 354px 472px !important;
}
#charVizDisplayMessage {
	color: #FF4550;
	font-size: 40px;
	text-align: center;
	padding-top: 160px;
	padding-left: 10px;
	transition-duration: 0.5s;
	user-select: none;
	cursor: not-allowed;
}
#charVizDisplayMessage:active {
	color: #000;
	background-color: #b30003 !important;
	font-size: 50px;
	transition-duration: 0.1s;
	text-shadow: 2px 2px 20px #000;
}
#charVizLaunchMessage {
	background-color: #282640;
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
	padding-left: 10px;
	transition-duration: 0.5s;
	user-select: none;
	cursor: pointer;
}
#charVizLaunchMessage:hover {
	background-color: #59568f !important;
}
#charVizAIDisplayMessage {
	font-size:30px;
	padding-left: 15px;
	padding-top:150px;
	background: rgba(40, 38, 64, 0.5);
	text-align: center;
	/*-webkit-text-stroke: 2px black;
	paint-order: stroke fill;*/
}
.charVizSpritesheetL { /* style for spritesheets - lines */
	background-size: 500% 100% !important;
}
.charVizSpritesheetM { /* style for spritesheets - masks for colors */
	-webkit-mask-size: 500% 100% !important;
}
.charVizColorsEntryContainer {
	float:left;
	height: 30px;
	width: 100%;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #282640;
	transition-duration: 0.5s;
	margin-bottom:5px;
	cursor: pointer;
	border-radius:5px;
}
.charVizColorsEntryContainer:hover {
	background-color: #59568f !important;
}
.charVizColorsEntryContainer:active {
	background-color: #69669A !important;
	transition-duration: 0.1s;
}
.charVizColorSwatch {
	width: 26px;
	height: 26px;
	float:left;
	background-color: #000;
	border-radius: 14px;
	margin-right: 10px;
	cursor:pointer;
	position: relative;
	margin: 2px;
	margin-left: 5px;
}
.charVizCreditsEntry {
	padding: 5px;
	margin: 10px;
	background-color: #59568f;
	border-radius:5px;
}
.charVizCreditsEntryContainer {
	background-color: #59568f;
	border-radius:20px;
	float: left;
	margin: 20px;
	margin-top: 0;
	margin-bottom: 10px;
	overflow: hidden;
}
.charVizCreditsAuthor {
	float: left;
	width: 85%;
	background-color: #282640;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.charVizCreditsAvatar {
	float: left;
	width: 15%;
	background-color: #282640;
	height: 40px;
	text-align: right;
}
.charVizCreditsContributions {
	float: left;
	margin: 10px;
}
.charVizAvatar {
	border-radius: 50%;
	border-bottom-right-radius: 0;
}
.fertilitySliderArrow {
	margin-top: 18px;
	float:left;
	right: 9px;
	position: relative;
}
.adaptClothing {
	text-align: left;
	height: 47px;
}
.menuAS {
	text-align: left;
	height: 25px;
	padding-top:5px;
	width: 100%;
	cursor: pointer;
	transition: 0.5s;
	user-select: none;
}

.menuAS:hover {
	background-color: #59568f;
}

.menuAS:active {
	background-color: #69669A;
	transition: 0.1s;
}

.imgArrow {
	padding-bottom:1px;
}
.harpoonArrowImg {
	padding-top:6px;
	width: 20px;
	height: 20px;
}
#AdvancedSettingsContainer {
	overflow: hidden;
	transition-duration: 1s;
}

.renamePresetsContainer2 {
	height: 90px;
}

.renamePresetsText {
	padding-left:18px;
	width: 70%;
	float: left;
}

.renamePresetsTickboxContainer {
	width: 20%;
	float: left;
}

.processingAnim {
	text-align: center;
	margin-top:5px;
}
.lines
{
	display: block;
	margin-top: 8px;	
	width: 6%;
	float: left;
	margin-left: 2px;
	}
.linesMenuSlider
{
	display: block;
	margin-top: 37px;
	width: 6%;
	float: left;
	margin-left: 2px;
	}
.linesGenitals
{
	display: block;
	margin-top: 9px;	
	width: 6%;
	float: left;
	margin-left: 2px;
	}
.menutextGenitals{
	float: left;
	text-align: center;	
	margin-top: 6px;
	height:30px;
	margin-left:9px;
	font-size:18px;
}
.linesAC
{
	display: block;
	margin-top: 18px;	
	width: 6%;
	float: left;
	margin-left: 2px;
	}
.menutextAC{
	float: left;
	text-align: center;	
	margin-top: 15px;
	height:30px;
	margin-left:9px;
	font-size:18px;
}
.menutextFertility{
	float: left;
	text-align: center;	
	margin-top: 15px;
	height:30px;
	font-size:18px;
}
.optionsCheckboxesContainer{
	text-align: center;
	font-size:18px;
	overflow: hidden;
	transition-duration: 0.75s;
}
.optionsCheckbox{
	margin-left:10px;
}
.lockSettingsPasswordMenu{
	margin-top: 15px;
	margin-left:7px;
	font-size:18px;
	margin-bottom: 10px;
	width: 100%;
}

.linesAS
{
	display: block;
	margin: 0 auto;
	width: 18%;
	float: left;
	margin-left: 2px;
}

.linesSex
{
	display: block;
	margin-top: 10px;	
	width: 7%;
	float: left;
	margin-left: 2px;
}
	
.checkboxCustomSliders
{
	display: block;
	float: left;
	padding-left: 6px;
}

.slider{
	float: left;
	text-align: center;
	margin-top:5px;
	margin-left:5px;
}

.textinmenuLeft {
	float: left;
	width: 28.5%;
	text-align: left;
	margin-left: 9px;
	padding-top:8px;
}
.textinmenuCenter {
	float: left;
	width: 29.5%;
	text-align: center;
	
}
.textinmenuRight {
	float: left;
	width: 28.5%;
	text-align: right;
	padding-top:8px;
}
.textinmenuPP {
	float: left;
	width: 30%;
	text-align: center;
	padding-top:5px;
	font-size:11px;
}

.avatar {
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.avatar-small {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.credits {
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	max-height: 0px;
	transition-duration: 0.75s;
	border-top: 0px none;
	transition-timing-function: ease-in-out;
}

.feedback {
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	max-height: 0px;
	transition-duration: 0.5s;
	border-top: 0px none;
	transition-timing-function: ease-in-out;
}

.saveSlotButtonsContainer {
	text-align: center;
	margin-top: 5px;
	color: #b30003;
	font-size: 30px;
	overflow: hidden;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.loadSlotButtonsContainer {
	text-align: center;
	margin-top: 5px;
	color: #29a329;
	font-size: 30px;
	overflow: hidden;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.passwordTextField {
	background: #660002;
	border: 2px solid #b30003; 
	color: #ffffff;
	width: 84%;
	padding: 10px;
	font-size: 22px;
}

.bgColorTextField {
	background: #59568f;
	border: 1px solid #8280b3; 
	color: #282640;
	width: 65%;
	padding: 5px;
	font-size: 22px;
}

.PasswordTextFieldOpenLock {
	background: #59568f;
	border: 1px solid #8280b3; 
	color: #282640;
	padding: 5px;
	font-size: 22px;
}

.enterUsernameContainer {
	text-align: center;
	margin-top: 5px;
	transition-duration: 0.75s;
	overflow: hidden;
}

.changeAppBGColorContainer {
	text-align: center;
	margin-top: 5px;
	transition-duration: 0.75s;
	overflow: hidden;
}

/* Customize the label (the container) */
.container {  
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: 1.5px solid #fff;	
  margin-top: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkbox {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkbox:after {
  left: 3px;
  top: -16px;
  width: 10px;
  height: 25px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

/* unvisited link */
a:link {
  color: #fff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #fff;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #fff;
  text-decoration: none;
}

.devMenuOptions {
	overflow: hidden;
	transition-duration: 0.75s;
}

.optionCategory {
	width: 100%;
	float: left;
	font-size: 30px;
	background-color: #282640;
	text-align: center;
	transition-duration: 0.5s;
	height: 40px;
	cursor: default;
}

.optionCategory:hover {
	font-size: 32px;
	background-color: #59568f;
}

.option {
	width: 40%;
	float: left;	
	padding-left: 30px;
	padding-top: 7px;
}

.changelogVersion {
	font-size: 30px;
	border-top: 2px solid #59568f;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #282640;
	transition-duration: 0.5s;
	cursor: default;
	text-align:center;
}

.changelogVersion:hover {
	border-top: 2px solid #282640;
	background-color: #59568f;
}

.creditsText {
	font-size: 20px;
	width: 74%;
	float:left;
	text-align: center;
	padding-top: 10px;
}

.creditsAvatar {
	width: 26%;
	float: left;
	text-align: right;
}

.creditsEntry {
	margin-left: 15px;
	margin-right: 15px;
	height: 70px;
	margin-top: 10px;
	border-radius: 50px;
	transition: 0.5s;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid #59568f;
	background-color: #282640;
}

.creditsEntry:hover {
	background-color: #59568f;
	border: 2px solid #282640;
}

.footerContainer {
	margin-top: 10px;
	border-top: 2px solid #807F97;
	padding-bottom: 10px;
	overflow: hidden;
	transition-duration: 0.75s;
}

.custom-species-name {
	float:left;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

.bigButton {
	background-color: #282640;
	border: 2px solid #59568f;
	border-radius: 5px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width: 84%;
	transition-duration: 0.75s;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
	user-select: none;
}

.bigButton:hover {
	background-color: #59568f !important;
	border: 2px solid #282640 !important;
	border-radius: 10px;
}

.bigButton:active {
	background-color: #69669A !important;
	border: 2px solid #59568f !important;
	border-radius: 0px;
	transition-duration: 0.25s;
}

.bigTextField {
	background: #59568f;
	border: 2px solid #282640; 
	color: #282640;
	width: 84%;
	padding: 10px;
	font-size: 26px;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 16px;
	font-family: Century Gothic;
	transition-duration: 0.75s;
}

.bigTextField:hover {
	background-color: #59568f;
	border: 2px solid #282640 !important;
	border-radius: 10px;
}

.bigTextField:active {
	background-color: #69669A;
	border: 2px solid #59568f !important;
	border-radius: 0px;
	transition-duration: 0.25s;
}

.bigButtonAdminMode {
	background-color: #660002;
	border: 2px solid #b30003;
	border-radius: 5px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width: 84%;
	transition-duration: 0.75s;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
	user-select: none;
}

.bigButtonAdminMode:hover {
	background-color: #b30003;
	border: 2px solid #660002 !important;
	border-radius: 10px;	
}

.bigButtonAdminMode:active {
	background-color: #db5c5e;
	border: 2px solid #b30003;
	border-radius: 0px;
	transition-duration: 0.25s;
}

.mediumSlotButton {
	background-color: #282640;
	border: 2px solid #59568f;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	width: 40%;
	transition-duration: 0.75s;
	margin: auto;
	margin-bottom: 5px;
	cursor: pointer;
	color: #fff;
	float: left;
	margin-left: 7px;
	user-select: none;
}

.mediumSlotButton:hover {
	background-color: #59568f;
	border: 2px solid #282640 !important;
	border-radius: 10px;
}

.mediumSlotButton:active {
	background-color: #69669A;
	border: 2px solid #59568f !important;
	border-radius: 0px;
	transition-duration: 0.25s;
}

.mediumButton {
	background-color: #282640;
	border: 2px solid #59568f;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 8px;
	width: 37.5%;
	transition-duration: 0.75s;
	margin: auto;
	margin-bottom: 5px;
	cursor: pointer;
	margin-left: 16px;
	float: left;
	user-select: none;
}

.mediumButton:hover {
	background-color: #59568f !important;
	border: 2px solid #282640 !important;
	border-radius: 10px;
}

.mediumButton:active {
	background-color: #69669A;
	border: 2px solid #59568f !important;
	border-radius: 0px;
	transition-duration: 0.25s;
}

.mediumTextField {
	background: #59568f;
	border: 2px solid #282640; 
	color: #282640;
	width: 37.5%;
	padding: 8px;
	font-size: 20px;
	border-radius: 5px;
	margin-left: 16px;
	float: left;
	font-family: Century Gothic;
	transition-duration: 0.75s;
}

.mediumTextField:hover {
	background-color: #59568f;
	border: 2px solid #282640 !important;
	border-radius: 10px;
}

.mediumTextField:active {
	background-color: #69669A;
	border: 2px solid #59568f !important;
	border-radius: 0px;
	transition-duration: 0.25s;
}
.charViz-NextGen-text-field-quick-access {
	font-size:16px;
	padding:6px;
	margin:7px;
	width:40px;
	background-color:rgba(89, 86, 143, 0.6);
	border: 2px solid transparent;
	transition-duration: 0.5s;
}
.charViz-NextGen-text-field-quick-access:hover {
	width:180px;
}
.charViz-NextGen-text-field-quick-access:focus {
	width:285px;
}
.charViz-NextGen-text-field {
	width: 80%;
	background-color: rgba(89, 86, 143, 0.75);
	color: #282640;
	border: 0;
	border-radius: 5px;
	padding: 6px;
	margin: 0 auto;
	font-size: 12px;
	height: 14px;
	float: none;
	margin-top: 6px;
	display: inherit;
	font-family: Century Gothic;
}
.half-width {
	width: 30%;
	margin: 16px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 0;
	display: inline-block;
}
.smallButton {
	background-color: #282640;
	border: 2px solid #59568f;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	transition-duration: 0.75s;
	margin: auto;
	cursor: pointer;
	float: left;
	margin-left: 6px;
	padding-left: 8px;
	padding-right: 8px;
	user-select: none;
}

.smallButton:hover {
	background-color: #59568f;
	border: 2px solid #282640 !important;
	border-radius: 10px;
}

.smallButton:active {
	background-color: #69669A;
	border: 2px solid #59568f !important;
	border-radius: 0px;
	transition-duration: 0.25s;
}

.processingPasswordDisplay {
	background-color: #282640;
	border: 2px solid #59568f;
	border-radius: 3px;
	font-size: 16px;
	padding: 4px;
	width: 87%;
	margin: auto;
	margin-top: 5px;
}

/* Create a custom radio button */
.radiobuttonMale {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobuttonMale {
  background-color: #2658fb;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobuttonMale {
  background-color: #3b395e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobuttonMale:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobuttonMale:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobuttonMale:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}
/* Create a custom radio button */
.radiobuttonFemale {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobuttonFemale {
  background-color: #ff41ea;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobuttonFemale {
  background-color: #3b395e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobuttonFemale:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobuttonFemale:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobuttonFemale:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

/* Create a custom radio button */
.radiobuttonMaleError {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #3b395e;
  border-radius: 50%;
  border: 1px solid #FF4550;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobuttonMaleError {
  background-color: #2658fb;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobuttonMaleError {
  background-color: #3b395e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobuttonMaleError:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobuttonMaleError:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobuttonMaleError:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FF4550;
}
/* Create a custom radio button */
.radiobuttonFemaleError {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #3b395e;
  border-radius: 50%;
  border: 1px solid #FF4550;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiobuttonFemaleError {
  background-color: #ff41ea;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobuttonFemaleError {
  background-color: #3b395e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobuttonFemaleError:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobuttonFemaleError:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobuttonFemaleError:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FF4550;
}

#peerID {
	margin-top:5px;
	background-color:#282640;
	border-radius:5px;
	transition-duration:0.5s;
	margin-bottom:5px;
	margin-left: 18px;
	margin-right: 18px;
	padding:10px;
	cursor: pointer;
	overflow-wrap: break-word;
}
#peerID:hover {
	background-color:#59568f;
}
#peerID:active {
	background-color:#69669A;
	transition-duration:0.05s;
}

#appStatus {
	margin-top:5px;
	background-color:#282640;
	border-radius:5px;
	transition-duration:0.5s;
	margin-bottom:5px;
	margin-left: 18px;
	margin-right: 18px;
	padding:10px;
	cursor: pointer;
	overflow-wrap: break-word;
	overflow-y: auto;
	max-height: 77px;
}
#appStatus:hover {
	background-color:#59568f;
}
#appStatus:active {
	background-color:#69669A;
	transition-duration:0.05s;
}

.CONTROLchangelogContainer {
	background-color: #282640;
	margin-left: 18px;
	margin-right: 18px;
	height: 150px;
	border-radius: 10px;
	margin-top: 5px;
	overflow: hidden;
}

.CONTROLchangelog {
	overflow-wrap: break-word;
	overflow-y: auto;
	max-height: 120px;
	width: 100%;
	float: left;
	border-top: 2px solid #59568f;
	font-size: 14px;
}

.CONTROLchangelogButton {
	float: left;
	width: 20%;
	transition-duration:0.5s;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	cursor: pointer;
}

.CONTROLchangelogButton:hover {
	background-color:#59568f;
}

.CONTROLchangelogButton:active {
	background-color:#69669A;
	transition-duration:0.05s;
}

#CONTROLchatWriteMessage {
	background: #59568f;
	border: 0; 
	color: #282640;
	width: 78%;
	height: 32px;
	font-size: 20px;
	font-family: Century Gothic;
	transition-duration: 0.75s;
}

#CONTROLchatWriteMessage:hover {
	background-color: #59568f;
}

#CONTROLchatWriteMessage:active {
	background-color: #69669A;
	transition-duration: 0.25s;
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  left: 16px;
  top: 2px;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both, gradientAnim 4s infinite ease-in-out; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

@keyframes gradientAnim {
  0% {
    background-color: #FF41EA; /* Pink */
  }
  50% {
    background-color: #2658FB; /* Blue */
  }
  100% {
    background-color: #FF41EA; /* Pink */
  }
}

.section-info {
	padding:5px;
	font-size:15px;
	background-color:#282640;
	transition-duration:0.5s;
	user-select:none;
	float:left;
	width:100%;
}
.section-info:hover {
	font-size:20px;
	background-color:#282640
}

.credits-entry-mini {
	margin: 6px;
	height: 40px;
	width: 45%;
	border-radius: 50px;
	transition: 0.5s;
	border: 2px solid #59568f;
	background-color: #282640;
	float: left;
}
.credits-entry-mini:hover {
	background-color: #59568f;
	border: 2px solid #282640;
}

.credits-text-mini {
	font-size: 18px;
	width: 74%;
	float:left;
	text-align: center;
	padding-top: 8px;
}

.credits-avatar-mini {
	width: 26%;
	float:left;
	text-align:right;
}

.menu-container {
	overflow: hidden;
	transition-duration: 0.5s;
}

.warning-animation {
	animation: warning-anim 3s infinite;
}

@keyframes warning-anim {
  0% {
    background-color: #ff4550;
  }
  50% {
    background-color: #660002;
  }
  100% {
    background-color: #ff4550;
  }
}

@keyframes warning-anim2 {
  0% {
    color: #ffffff;
  }
  15% {
    color: #ff4550;
  }
  30% {
    color: #ffffff;
  }
  100% {
    color: #ffffff;
  }
}