body {
  background-color: #3b395e;
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 60px;
  margin: 0 !important;
  padding: 0 !important;
  
}
div {
	border: 1px;
	text-align: left;
	
}
.siteWidthContainer {
	width: 1040px;
	margin: 0 auto;	
	border: 8px solid #000000;
}

.statusBarContainer {
	height: 60px;
	background-color: #424242;
	border-bottom: 8px solid #000000;
}
.coverageContainer {
	width: 33%;
	float: left;
}
.currentTime {
	width: 34%;
	float: left;
	text-align:center;
	font-size: 50px;
	font-weight: bold;
}

.chargeBattery {
	width: 22%;
	float: left;
	font-size: 26px;
	text-align:center;
}

.batteryContainer {
	width: 11%;
	float: right;
	text-align:right;
}

.secondSliderHandleContainer {
	width: 1040px;
	z-index: 1;
	position: absolute;
	height: 1px;
}
.secondSliderHandle {
	background-color: #FF4550;
	border:1px solid #3b395e;
	border-radius:3px;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 50px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;	
	left: 0;
	right: 68%;	
	top: 989px;
	opacity: 1;
}

.errorMessageContainer {
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	top: 1%;
	opacity: 0.8;
}
.errorMessageAlignLeft {
	z-index: 1;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.errorMessageAlignCenter {
	z-index: 1;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.RLEOkayContainer {
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	top: 735px;
	opacity: 0.8;
}

.MSSOkayContainer {
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	top: 515px;
	opacity: 0.8;
}

.unblockSettingsOkayContainer {
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	top: 245px;
	opacity: 0.8;
}

.error69OkayContainer {
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	top: 375px;
	opacity: 0.8;
}

.okay {
	z-index: 1;
	margin-left: 40px;
	margin-top: 32px;
	margin-bottom: 32px;
	text-align: center;
}

.settingsLoadedPopup {
	background-color: #ffffff;
	color: #000000;
	z-index: 1;
	position: absolute;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;	
	top: 5%;
	opacity: 0.8;
	font-size: 104px;
}

.error621 {
	text-align: center;
	border-bottom: 1px solid #fff;	
	font-size:50px;
}

.logOutMessage {
	text-align: center;
	
	font-size:50px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282640; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8280b3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #59568f; 
}
.switcherLogo {
	text-align: center;
	height: 160px;
	margin-top: 3px;
}
.container2 {
	text-align: center;
	height: 180px;
}
.processingText {
	height: 100px;
	font-size: 80px;
	text-align: center;
}
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.lockSettingsImgClosed {
	float: left;
	width: 8%;	
	margin-left: 6px;
	margin-top: 40px;
}
.lockSettingsImgOpen {
	float: left;
	width: 8%;	
	margin-left: 6px;
	margin-top: 40px;
}
.lockSettings {
	float: left;
	width: 26%;	
	margin-top: 120px;
	font-size: 40px;
}
.enterPassword {
	text-align: center;
	margin-top: 5px;
}

.processingContainer {
	float: left;
	width: 30%;
	text-align: center;	
}
.logOut {
	float: right;
	width: 33%;
	text-align: right;	
	margin-top: 120px;
	font-size: 40px;
}
.adminPerms {
	color: #ff1b1f;
	text-align: center;
	font-weight: bold;
}

.speciesChoice {
	width: 70%;
	float: left;
	margin-left: 30px;
}
.search {
	width: 10%;
	float: left;
	margin-top: 55px;
	margin-left: 40px;
}

/* body select.select_box */ 
body select { 
    display: block;
    
    width: 100%; 
    height: 80px;
    border: 1px solid #ffffff; 
    border-radius: 3px; 
    background: url("../images/speciesSelectTriangle_MFHD.png") right center no-repeat;
    background-color: #3b395e; 
    color: #ffffff; 
    font-family: "Arial";
	font-size: 60px;
    line-height: 60px !important; 
    appearance: none; 
    /* this is must */ -webkit-appearance: none; 
    -moz-appearance: none; 
} 
/* body select.select_box option */ 
body select option { 
    padding: 0 4px; 
} 
/* for IE and Edge */ 
select::-ms-expand { 
    display: none; 
} 
select:disabled::-ms-expand { 
    background: #f60; 
}

.menu {
	border-bottom: 1px solid #fff;	
	text-align: center;
	height: 200px;
	margin-top:5px;
}
.menuSlider {
	border-bottom: 1px solid #fff;	
	text-align: center;
	height: 240px;
	margin-top:8px;
}
.menuFirst {
	border-top: 1px solid #fff;	
	border-bottom: 1px solid #fff;	
	text-align: center;
	height: 200px;
	margin-top:5px;
}
.menuAS {
	text-align: left;
	height: 80px;
	margin-top:5px;
}
.menuEMAS {
	text-align: center;
	height: 80px;
	margin-top:5px;
	font-size: 50px;
}
.processingAnim {
	text-align: center;
}
.lines
{
	display: block;
	margin-top: 68px;	
	width: 6%;
	float: left;
	}
.linesMenuSlider
{
	display: block;
	margin-top: 114px;	
	width: 6%;
	float: left;
	}
.linesAC
{
	display: block;
	margin-top: 40px;	
	width: 6%;
	float: left;
	}
.menutextAC{
	float: left;
	text-align: center;	
	margin-top: 40px;
	height: 50px;
}
.linesAS
{
	display: block;
	margin: 0 auto;
	width: 19%;
	float: left;
}
.species {
	text-align: left;
}
.sex {
	text-align: left;
}
.linesSex
{
	display: block;
	margin-top: 70px;	
	width: 7%;
	float: left;
	}
.adaptClothing {
	text-align: left;
	height: 140px;
}
.slider{
	float: left;
	text-align: center;
	margin-top:5px;
}
.menutext{
	float: left;
	text-align: center;	
}
.textinmenuLeft {
	float: left;
	width: 30%;
	text-align: left;
	font-size: 45px;
}
.textinmenuCenter {
	float: left;
	width: 30%;
	text-align: center;
	font-size: 45px;
}
.textinmenuCenterPP {
	float: left;
	width: 30%;
	text-align: center;
	font-size: 35px;
}
.textinmenuRight {
	float: left;
	width: 30%;
	text-align: right;
	font-size: 45px;
}
.credits {
	text-align: center;
	font-size: 60px;
}
.ECPNNHr {
	display: none;
}
.applybutton {
	text-align: center;
	margin-top: 20px;
}
.adminbutton {
	text-align: center;
	margin-top: 20px;
}
.toggleCreditsButton {
	text-align: center;
	margin-top: 200px;
}
.processingPasswordDiv {
	text-align: center;
	margin-top: 20px;
}
.accessDenied {
	text-align: center;
	margin-top: 20px;
	font-size: 50px;
}
.accessGrantedDiv {
	text-align: center;
	margin-top: 20px;
}
.apply {
  position: relative;
  background-color: #282640;
  border: none;
  font-size: 108px;
  color: #FFFFFF;
  padding: 10px;
  width: 90%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.apply:after {
  content: "";
  background: #8280b3;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.8s
}

.apply:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.apply:hover {
	background: #59568f; 
}
.slot {
  position: relative;
  background-color: #282640;
  border: none;
  font-size: 108px;
  color: #FFFFFF;
  padding: 10px;
  width: 15%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  margin-left: 33px;
}

.slot:after {
  content: "";
  background: #8280b3;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.8s
}

.slot:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.slot:hover {
	background: #59568f; 
}
.slotbutton {
	text-align: center;
	margin-top: 20px;
	margin-left: 50px;
}
.admin {
  position: relative;
  background-color: #660002;
  border: 1px solid #b30003;
  font-size: 108px;
  color: #FFFFFF;
  padding: 10px;
  width: 90%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.admin:after {
  content: "";
  background: #ff1b1f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.8s
}

.admin:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.admin:hover {
	background: #b30003; 
}

.accessGranted {
  position: relative;
  background-color: #29a329;
  border: 1px solid #145214;
  font-size: 108px;
  color: #FFFFFF;
  padding: 10px;
  width: 90%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.accessGranted:after {
  content: "";
  background: #5cd65c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.8s
}

.accessGranted:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.accessGranted:hover {
	background: #33cc33; 
}

.loading {
  position: relative;
  background-color: #660002;
  border: 1px solid #b30003;
  font-size: 108px;
  color: #FFFFFF;
  padding: 10px;
  width: 90%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.loading:after {
  content: "";
  background: #8280b3;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.8s
}

.loading:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buttonSubmitPassword {
  position: relative;
  background-color: #ff1b1f;
  border: 1px solid #b30003; 
  font-size: 78px;
  color: #FFFFFF;
  padding: 10px;
  width: 42%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.buttonSubmitPassword:after {
  content: "";
  background: #8280b3;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.8s
}

.buttonSubmitPassword:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.buttonSubmitPassword:hover {
	background: #282640; 
}

.passwordTextField {
	background: #660002;
	border: 1px solid #b30003; 
	color: #ffffff;
	width: 42%;
	padding: 10px;
	font-size: 60px;
}

/* Customize the label (the container) */
.container {  
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-color: #3b395e;
  border: 1px solid #fff;	
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkbox {
  background-color: #3b395e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkbox:after {
  left: 32px;
  top: -40px;
  width: 20px;
  height: 80px;
  border: solid white;
  border-width: 0 8px 8px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* unvisited link */
a:link {
  color: #fff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #fff;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #fff;
  text-decoration: none;
}